<div class='page-info span-24'>
  <div class="span-22 append-1 prepend-1">
    <h2>About The Game</h2>
       
    <div class="span-11">
      <p>
        Bug Splat was the first video game I ever created. It was developed in two weeks as an introduction to the Processing
        language during video game design class at UIC. It is a single or multiplayer game created for UIC's or LSU's tactile. The tactile is 
        a multi touch 52-inch LCD tabletop display. All interaction with the game is done with your fingers. The objective of the game is
        very simple, that is to squish, burn, electricute, or blow up all of the bugs any way you prefer.
      </p>
    </div>
    <div class="span-11 last">
      <p>
        There are really no rules to the game except to kill all the bugs. There are some constraints, that is to kill them and obtain a score higher than 0.
        The longer it takes to kill the bugs the less points you will receive, even negative points. So the objective is to kill them fast! As mentioned, the game 
        is multiplayer, so the more fingers you have the faster the bugs will die, but you also lose points for every touch on the screen, so don't waste your
        touches.
      </p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("http://paulgrenning.com/horizontal-divider.png") %>
  </div>
  <div class="span-22 append-1 prepend-1">
    <h2>Gameplay Videos</h2>
    <div class="span-11">
      <%= link_to image_tag("http://paulgrenning.com/bugsplatvid1.jpg", :class => 'video', :id => "video_1"),
         'http://www.youtube.com/watch?v=WZtG__ngTo8', :rel => "prettyPhoto[videos]"%>
       <p id="padding-10px">
         Gameplay video with a good look into all three weapons, the lighter and oil can, taser sticks, and fire crackers.
       </p>
    </div>
    <div class="span-11 last">
      <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/bugsplatvid2.jpg", :class => 'video', :id => "video_2"),
         'http://www.youtube.com/watch?v=dAtzlRgd_lI', :rel => "prettyPhoto[videos]"%>
       <p id="padding-10px">
         Gameplay video heavily focusing on the fire crackers and lastly the lighter and oil can.
       </p>
    </div>
  </div> 
  <div class="span-24" id="above-gallery">
    <%= image_tag("http://paulgrenning.com/horizontal-divider.png") %>
    <p></p>
  </div>
  <div class="span-22 append-1 prepend-1 last">
    <h2>Image Gallery</h2>
    <p>
      All of the images in the gallery are drawn or edited by me in some way. It was my first time using photoshop. The rest are screenshots.
    </p>
    <div id="view-selection" class="span-22 append-1 prepend-1">
      <div class="span-2 prepend-4">
        <p></p>
        <%= image_tag("http://paulgrenning.com/portrait-button.png", :id => "portrait-grid") %>
      </div>
      <div class="span-7"><p></p></div>
      <div class="span-3">
        <p></p>
        <%= image_tag("http://paulgrenning.com/polaroid-button.png", :id => "polaroid-grid") %>
      </div>
    </div>
  </div>
  <div class="span-24" id="above-gallery">
    <%= image_tag("http://paulgrenning.com/horizontal-divider.png") %>
  </div>
  <div id="polaroid_gallery" class="span-24">
    <%= image_tag("http://paulgrenning.com/top-rounded.png", :id => "mouseover-top") %>
    <%= image_tag("http://paulgrenning.com/bottom-rounded.png", :id => "mouseover-bottom") %>
    <p id="mouseover-text"></p>
    <%= image_tag("http://paulgrenning.com/transparentLine.png") %>
    <% BUGSPLAT_IMAGES_TO_SHOW.each_with_index do |image, index| %>
      <%= link_to image_tag('/images/bugsplat/'+image[:name].split('.').first+"Thumb"+"."+image[:name].split('.').last, :class => 'bug_polaroids', :id => "bug_polaroid_"+index.to_s, :description => image[:description], :alt => image[:title]),
        '/images/bugsplat/'+image[:name],  :backuptitle => image[:description], :title => image[:description], :class => "pop-out", :id => "pop-out-"+index.to_s, :rel => "prettyPhoto[bug_polaroids]"%>
      <%= image_tag('/images/bugsplat/'+image[:name], :class => "bug_portrait", :id => "bug_portrait_"+index.to_s, :alt => image[:description]) %>
    <% end %>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("http://paulgrenning.com/horizontal-divider.png") %>
  </div>
  <h2 class="prepend-1 span-24">Game Details</h2>
  <div class="span-10 append-1 prepend-1">
      <p>
        Bug Splat is a very simple game when it comes to the engine. Being my first game I was unsure how well processing would handle complete animations
        so each bug only has 2 images it swaps between. This was also due to my lack of photoshop knowledge at the time. The game does contains my first
        iteration of a particle emitter(it is much more refined in the Rise O' The Urchins game). The particle emitter allows a set of images, a direction, max distance,
        and fade time. It was used for the smoke, flames, blood drops, electric arc, and lightning effects.
      </p>
    </div>
    <div class="span-11 last" >
      <p>
      The music for Bug Splat was taken from Doom 1. This also inspired me to make Bug Splat just that much more gorey, violent, and explosive. So I made sure each
      bug death created a splatter and blood or a smoking corpse. All of the images in some way were drawn or edited by me. 
      </p>
    </div>
</div>
