<div id='darktide' class='page'>
  <div class='page-info span-24'>
      <div class="span-24" id="about-darktide">
        <div class="span-10 prepend-1 ">
          <%= image_tag("DarkTide.png", :id => "darktide-logo") %>
        </div>
        <div class="span-11 prepend-1 ">
          <p>
            The video game design course at UIC valued team work and real world experience.
            To contribute to those, the class was combined between two schools,
            UIC and LSU. The class was split into teams of four. Each team had two students from LSU
            and two students from UIC and was required to create their own company and design an 
            original game for a 52-inch touch table. My team created Dark Tide Software.
            Dark Tide Software consisted of myself, a computer science major and team leader,
            an artist, Michael Davis, and two additional computer science majors, Keaton Robinson
            and Mike Baker. 
          </p> 
          <p>
            The team has developed one game so far called<%= link_to " \"Rise O\' The Urchins
           \"", riseotheurchins_path%>. Out of twelve teams and six awards, Dark Tide Software took
           home two of the awards. The first award was for best graphics and animation and the 
           second was for best sound effects and music. Jump over to the <%= link_to " \"Rise O\' The Urchins\"", riseotheurchins_path%>
           feature page to check out some videos, screen shots, and reading material about it.
          </p> 
          <p>
            Check out the previous <%= link_to "DarkTide website", 'http://sites.google.com/site/darktidegames/'%> for more information.
          </p>
        </div>
      </div>
    <div class="span-24">
      <div><p></p></div>
      <%= image_tag("horizontal-divider.png", :id => "darktide-divider") %>
      <div><p></p></div>
      <div class="span-22 prepend-1">
        <h2 id="about-team">About The Team</h2>
      </div>
      <div class="span-5 prepend-1">
        <h2 id="team-member">Paul Grenning</h2>
        <p>
        I am the team lead of Dark Tide Software and lead programmer. I am a student at University of Illinois at
        Chicago.
        </p>
      </div>
      <div class="span-5" id="spacers">
        <h2 id="team-member">Michael Davis</h2>
        <p>I am the art designer for Dark Tide Software. I am a recent graduate from Lousiana State Universty. I 
        studied art and sculpture.</p>
      </div>
      <div class="span-5" id="spacers">
        <h2 id="team-member">Keaton Robinson</h2>
        <p>
        I am a programmer as well as the main sound technician for Dark Tide Software. I am a student at Lousiana State University
       studying Computer Science. 
        </p>
      </div>
      <div class="span-5  last">
        <h2 id="team-member">Mike Baker</h2>
        <p>I am a programmer specializing in physics for Dark Tide Software. I am a student at University of Illinois at Chicago
        studying computer science. 
      </div>
    </div>
  </div>
</div>
