<div class='page-info span-24'>
  <div class="span-22 append-1 prepend-1">
    <h2>About The Dataset</h2>
    <div class="span-22">
      <p>
      All the earthquake data for my project is coming from the 
      <%= link_to "United States Geological Survey Website", 'http://earthquake.usgs.gov/earthquakes/eqarchives/epic/epic_global.php'%>
      <br/>
      <br/>
      To initially use the dataset I tested it out on the most recent years, 2010-2011. I opened it in Paraview to make sure
      it would work in my program. Sure enough it did, so I didn't have to parse anything out of the dataset for it to work. From 
      there I saved it from Paraview into a comma seperated value(CSV) file and was able to read it into my program.
      <br/>
      <br/>
      Unforutnately, the entire dataset from 1973-2011 did have a few holes in it. Paraview was unable to open the large data file.
      So I ran it through a python script to remove rows in the data that had incorrect values or values of zero. I removed zero values because
      they did not seem to add much value to the visualization. After running it through the python script, Paraview
      could parse through the data and plot all 552,774 data points. Each data point comes from one row of comma separated values. Once again I saved the data from Paraview into a CSV file. Then I was able to read it
      into my program once again. 
    </div>
    <div class="span-24" id="below-gallery">
      <%= image_tag("horizontal-divider.png") %>
    </div>
    <div class="span-24">
    <h2>Haiti Earthquake In 2010</h2>
  </div>
    <div class="span-11">
      <%= link_to image_tag("EarthquakeImages/Haiti-2009.jpg", :width => 400, :id => "below-gallery"),
        'images/EarthquakeImages/Haiti-2009.jpg', :rel => "prettyPhoto[earthquake_screens]", :title => "The image above shows the earthquake activity prior to the disaster that happened in 2010. There is practically no activity near Haiti. We do see a lot around Puerto Rico though, but the magnitude of their activity is pretty low."%>
      <%= image_tag("EarthquakeImages/Haiti-2009.jpg", :class => "earthquake_screen") %>
      <p>
      The image above shows the earthquake activity prior to the disaster that happened in 2010. There is practically
      no activity near Haiti. We do see a lot around Puerto Rico though, but the magnitude of their activity is pretty low.
      </p>
    </div>
    <div class="span-11 last">
      <%= link_to image_tag("EarthquakeImages/Haiti-2010.jpg", :width => 400, :id => "below-gallery"),
        'images/EarthquakeImages/Haiti-2010.jpg', :rel => "prettyPhoto[earthquake_screens]", :title => "The image above shows the earthquake activity in Haiti during 2010. It may not look like much compared to Puerto Rico next to it with lots of data points, but Haiti's datapoints have a much higher magnitude. The magnitude of the points surrounding Puerto Rico are between 0-3.5 while Haiti's are between 3.5 and 5.5."%>
        <%= image_tag("EarthquakeImages/Haiti-2010.jpg", :class => "earthquake_screen") %>
        <p>
        The image above shows the earthquake activity in Haiti during 2010. It may not look like much compared to Puerto Rico
        next to it with lots of data points, but Haiti's datapoints have a much higher magnitude. The magnitude of the points
        surrounding Puerto Rico are between 0-3.5 while Haiti's are between 3.5 and 5.5.
        </p>
      </div>
    </div>
    <div class="span-24" id="below-gallery">
      <%= image_tag("horizontal-divider.png") %>
    </div>
    <div class="span-23 prepend-1">
      <h2>View A Video Of The Entire Earthquake Dataset: Years 1973-2011</h2>
    </div>
    <div class="span-23 prepend-1">
    <%= link_to image_tag("EarthquakeImages/playbackImage.jpg", :class => 'video', :id => "video_1"),
      'http://www.youtube.com/watch?v=1OXM3WDcY6M', :rel => "prettyPhoto[videos]"%>
      <p class="append-7">
      <br/>
      You may notice some areas don't have activity in earlier years, this could mean two things, new seismometers were being placed
      to collect new data, or the obvious, plate tectonic activity.
      </p>
    </div>
    <div class="span-24" id="below-gallery">
      <%= image_tag("horizontal-divider.png") %>
    </div>
    <div class="span-22 prepend-1 append-1">
      <h2>7.9 Magnitude Earthquake Hits Turkey - 1999</h2>
      <div class="span-11">
        <%= link_to image_tag("EarthquakeImages/Turkey-1998.jpg", :width => 400, :id => "below-gallery"),
          'images/EarthquakeImages/Turkey-1998.jpg', :rel => "prettyPhoto[earthquake_screens]", :title => "The image above shows a very high magnitude earthquake in Turkey in 1999. Using the earthquake visualization tool and setting the year to 1999 and the magnitude to 6.5 you will see 1 dot. Wikipedia claims the earthquake was as high as 7.9."%>
        <%= image_tag("EarthquakeImages/Turkey-1998.jpg", :class => "earthquake_screen") %>
        <p>
        The image above shows a very high magnitude earthquake in Turkey in 1999. Using the earthquake visualization tool
        and setting the year to 1999 and the magnitude to 6.5 you will see 1 dot. Wikipedia claims the earthquake was as high as
        7.9.
        </p>
      </div>
      <div class="span-11 last">
        <%= link_to image_tag("EarthquakeImages/Turkey-1999.jpg", :width => 400, :id => "below-gallery"),
          'images/EarthquakeImages/Turkey-1999.jpg', :rel => "prettyPhoto[earthquake_screens]", :title => "The image above shows Turkey in 1999. There are still a number of points around the area but no where near as many as the image capturing 1998."%>
        <%= image_tag("EarthquakeImages/Turkey-1999.jpg", :class => "earthquake_screen") %>
        <p>
        The image above shows Turkey in 1999. There are still a number of points around the area but no where near as many as
        the image capturing 1998.
        </p>
      </div>
    </div>
    <div class="span-24" id="below-gallery">
      <%= image_tag("horizontal-divider.png") %>
    </div>
    <div class="span-22 prepend-1 append-1">
      <h2>The Great Tangshan Earthquake</h2>
      <div class="span-11">
        <%= link_to image_tag("EarthquakeImages/Tangshan-1976.jpg", :width => 400, :id => "below-gallery"),
          'images/EarthquakeImages/Tangshan-1976.jpg', :rel => "prettyPhoto[earthquake_screens]", :title => "The image above shows Tangshan, China in 1976 when a massive earthquake hit known as the 'Great Tangshan Earthquake'. It is believed to have the largest death toll as far as earthquakes go in the 20th century."%>
        <%= image_tag("EarthquakeImages/Tangshan-1976.jpg", :class => "earthquake_screen") %>
        <p>
        The image above shows Tangshan, China in 1976 when a massive earthquake hit known as the "Great Tangshan Earthquake". It is believed to 
        have the largest death toll as far as earthquakes go in the 20th century.
        </p>
      </div>
      <div class="span-11 last">
        <%= link_to image_tag("EarthquakeImages/Tangshan-1977.jpg", :width => 400, :id => "below-gallery"),
          'images/EarthquakeImages/Tangshan-1977.jpg', :rel => "prettyPhoto[earthquake_screens]", :title => "The image above shows Tangshan, China after the earthquake in 1977 that killed 255,000 people. As you can see the activity dropped severly after the earthquake. Everything seems to have settled."%>
        <%= image_tag("EarthquakeImages/Tangshan-1977.jpg", :class => "earthquake_screen") %>
        <p>
        The image above shows Tangshan, China after the earthquake in 1977 that killed 255,000 people. As you can see the activity
        dropped severly after the earthquake. Everything seems to have settled.
        </p>
      </div>
    </div>
  </div>
</div>
