<div id='home' class='page'>
  <div class='page-info span-24'>
    <div class="span-24">
      <div class="span-24" id="portfolio">
        <div class="span-24 prepend-1">
          <h2>Portfolio</h2>
        </div>
        <div class="span-1">
          <p></p>
          <%= image_tag("leftArrow.png", :id => "left-arrow") %>
        </div>
        <div id="carousel" class="span-22">
          <ol id="carousel-images">
            <%= link_to image_tag("darktide-logo-dark.png", :id => "thumb-1", :class => "thumb"), darktide_path %>
            <%= link_to image_tag("bug.png", :id => "thumb-2", :class => "thumb"), root_path %>
            <%= link_to image_tag("urchin1.png", :id => "thumb-3", :class => "thumb"), riseotheurchins_path %>
            <%= link_to image_tag("website-thumb.png", :id => "thumb-4", :class => "thumb"), root_path %>
            <%= link_to image_tag("ninja-defense1.png", :id => "thumb-5", :class => "thumb"), root_path %>
          </ol>
        </div>
        <div class="span-1 last">
          <p></p>
          <%= image_tag("rightArrow.png", :id => "right-arrow") %>
        </div>
      </div>
    </div>
    <div class="span-24">
      <div><p></p></div>
      <%= image_tag("horizontal-divider.png") %>
      <div><p></p></div>
      <div class="span-7 prepend-1">
        <h2>About Me</h2>
      </div>
      <div class="span-7" id="spacers">
        <h2>School</h2>
      </div>
      <div class="span-7 apend-1 last">
        <h2>Interests</h2>
      </div>
    </div>
    <div class="span-24">
      <div class="span-7 prepend-1">
        <p>
        I am originally from the northern suburbs of Chicago. I currently reside in Chicago,
          <%= image_tag("MyImage.png", :id => "portrait") %>
          where I attend UIC and work at Obtiva. Before my employment at Obtiva, I worked 
          as an intern/coop at Zebra Technologies over a period of two and a
          half years. Previously in doubt about my future in the field, my internship with 
          Zebra taught me that computer science was the correct career for me.
        </p>
      </div>
      <div class="span-7" id="spacers">
        <p>
        I am a senior computer science major at the University of Illinios at Chicago (UIC).
        I am very interested in developing video games. I have played them all my life, and I have
        recently developed my own video game for a class at UIC. The class was split between two schools, UIC and LSU, and students were grouped into teams of four. Each team consisted of two people from each
        school, generally three programmers and one artist. Of those four individuals, one
        was selected as the team leader. Nominated as my team's leader, each team was required to invent a company name
        and design a game for the rest of the semester. As we had arranged our group meetings and pair
        programming sessions using Skype, the class taught me how to work with people over
        long distance that I would never meet face to face. 
        </p>
        <p>
        As the video game design class progressed, I realized what I wanted to do
        with my career in computer science, and I spent all my free time and school time designing
        my video game. It was an odd feeling to find something I liked to do more than play
         video games: design them myself.
         </p>
         <p>
        In my final semester (fall 2010) I will be taking a graphics design course as well
        as independent study where I will create a new game using the Unity graphics engine. 
        </p>
      </div>
      <div class="span-7 apend-1 last">
        <p>

      Some of
      my favorite video games come from Blizzard Entertainment, including the Starcraft series,
      the Diablo series, and the Warcraft III series (excluding World Of Warcraft, however). I am also a big fan of first 
      person shooters such as the S.T.A.L.K.E.R. series and all of Valve's games, especially Left 4 Dead 2.
      </p>
      <p>
      I also build my own computers. So far I am at two full computers, but over the years, as a video game
      fanatic, I have had to swap out many parts to make sure my machine was always running perfectly.
      This hardware has included graphics cards, as I always wanted the best graphics technology (which I sadly learned was not
      always worth the money).  
      </p>
      <p>
      Besides computers and all their excellence, I do have a few other interests, which would include, pool, 
      Frisbee, soccer, kung-fu, sknowboarding, hockey, and swimming.
        </p>
        <h2>My Resume</h2>
        <p><%= link_to "Care To Download It?", downloads_path%></p>
      </div>
    </div>
  </div>
</div>
