<div id='home' class='page'>
  <div class='page-info span-24'>
    <div class="span-24">
      <div class="span-24" id="portfolio">
        <div class="span-24 prepend-1">
          <h2>Portfolio</h2>
        </div>
        <div class="span-21 prepend-1"><p id="slideleft">left</p></div>
        <div class="span-1 last"><p id="slideright">right</p></div>
        <div id="carousel" class="span-22 last">
          <ol id="carousel-images">
            <%= link_to image_tag("darktide-logo-dark.png", :id => "thumb-1", :class => "thumb"), root_path %>
            <%= link_to image_tag("bug.png", :id => "thumb-2", :class => "thumb"), root_path %>
            <%= link_to image_tag("urchin1.png", :id => "thumb-3", :class => "thumb"), root_path %>
            <%= link_to image_tag("website-thumb.png", :id => "thumb-4", :class => "thumb"), root_path %>
            <%= link_to image_tag("ninja-defense1.png", :id => "thumb-5", :class => "thumb"), root_path %>
          </ol>
        </div>
      </div>
    </div>
    <div class="span-24">
      <div><p></p></div>
      <%= image_tag("horizontal-divider.png") %>
      <div><p></p></div>
      <div class="span-7 prepend-1">
        <h2>School</h2>
      </div>
      <div class="span-7" id="spacers">
        <h2>Location</h2>
      </div>
      <div class="span-7 apend-1 last">
        <h2>Interests</h2>
      </div>
    </div>
    <div class="span-24">
      <div class="span-7 prepend-1">
        <p>
          I am a senior computer science major at University of Illinios at Chicago (UIC).
          I am very interested in developing video games. I have played them all my life and
          recently developed my own video game for a class at UIC. The best experience about
          this class was that it was split between two schools, UIC and LSU. The class was
          broken down into teams of four. Each team was required to make a fake company name
          and design a game for the rest of the semester. Each team had two people from each
          school. Generally three programmers and one artist. Of those four individuals, one
          of them was the team leader, which was me. The class taught me how to work with people over
          long distance that I would never meet face to face. We arranged group meetings and pair
          programming sessions using skype.
        </p>
        <p>
          Once I started taking the video game design class, I realized what I wanted to do
          with my career in computer science. I spent all my free time and school time designing
          my video game. It was an odd feeling to find something I liked to do more than play
          video games, and that was designing them.
        </p>
        <p>
          In my final semester (fall 2010) I will be taking a graphics design course as well
          as independent study where I will create a new game using the Unity graphics engine. 
        </p>
      </div>
      <div class="span-7" id="spacers">
        <p>
          I am from the northern suburbs of chicago and have lived their my entire life. I am
          <%= image_tag("MyImage.png", :id => "portrait") %>
          temporarily living in Chicago while I go to UIC and work at Obtiva.
        </p>
        <h2>My Resume</h2>
        <p><%= link_to "Care To Download It?", downloads_path%></p>
      </div>
      <div class="span-7 apend-1 last">
        <p>
          I am interested in video games and video game design. Some of
          my favorite video games come from Blizzard Entertainment which includes the Starcraft series,
          Diablo series, and Warcraft III series (not World Of Warcraft). I am also a big fan of first 
          person shooters such as the S.T.A.L.K.E.R. series and all of valve's games, especially Left 4 Dead 2.
        </p>
        <p>
          I also build my own computers. So far I am at two full computers, but over the years, being a video game
          fanatic, I have had to swap out many parts to make sure my machine was running perfectly.
          Such hardware included gaphics cards. I always wanted the best graphics technology which I learned was not
          always worth the money. 
        </p>
        <p>
          Besides Computers and all their excellence, I do have a few other interests. Those would include, pool, 
          frisbee, soccer, kung fu, skiing, snowboarding, hockey, and swimming.
        </p>
      </div>
    </div>
  </div>
</div>
