<div class='page-info span-24'>
  <div  id="portfolio" class="span-24">
    <div class="span-24 prepend-1">
      <h2>Portfolio</h2>
    </div>
    <div class="span-1">
      <p></p>
      <%= image_tag("leftArrow.png", :id => "left-arrow") %>
    </div>
    <div id="carousel" class="span-22">
      <div id="carousel-images">
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/UrchinsMainPage.jpg", :class => "carousel-image"), unitydevelopment_path %>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/CTAMainPage.jpg", :class => "carousel-image"), vtkprojects_path%>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/SpaceBarrage2MainPage.jpg", :class => "carousel-image"), processingpage_path %>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/EarthquakeMainPage.jpg", :class => "carousel-image"), processingpage_path %>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/BugSplatMainPage.jpg", :class => "carousel-image"), processingpage_path %>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/TornadoMainPage.jpg", :class => "carousel-image"), processingpage_path %>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/BlobMainPage.jpg", :class => "carousel-image"), processingpage_path %>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/LakeMichiganMainPage.jpg", :class => "carousel-image"), processingpage_path %>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/NinjaGameMainPage.jpg", :class => "carousel-image"), processingpage_path %>
      </div>
    </div>
    <div class="span-1 last">
      <p></p>
      <%= image_tag("rightArrow.png", :id => "right-arrow") %>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>
