<div class='page-info span-24'>
  <div  id="portfolio" class="span-24">
    <div class="span-23 prepend-1">
      <h2>Portfolio</h2>
    </div>
    <div class="arrowHolder imageInline">
      <%= image_tag("leftArrow.png", :id => "left-arrow") %>
    </div>
    <div id="carousel" class="imageInline">
      <div id="carousel-images">
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/CTAMainPage.jpg", :class => "carousel-image", :title => "Crazy Train", :alt => "Visualization project showing the CTA Blue Line from Forest Park to UIC Halsted. Data was collected using iPhones and Android Phones."), vtkprojects_path%>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/SpaceBarrage2MainPage.jpg", :class => "carousel-image", :title => "Space Barrage", :alt => "My second Unity3d project. Inspiration came from Asteroids. It supports 3 players and has campaign and survival mode to play through."), spacebarrage_path %>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/EarthquakeMainPage.jpg", :class => "carousel-image", :title => "Earthquake Visualization 1973-2010", :alt => "First visualization project using VTK. Shows the magnitude and depth of every earthquake from 1973-2010"), vtkprojects_path %>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/BugSplatMainPage.jpg", :class => "carousel-image", :title => "Bug Splat", :alt => "The first video game I created. Kill bugs in various ways, such as a lighter and oil spray or by simple squishing them with your finger."), bugsplat_path %>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/TornadoMainPage.jpg", :class => "carousel-image", :title => "Tornado Visualization", :alt => "View all the tornadoes across the United States from 1950-2010"), vtkprojects_path %>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/BlobMainPage.jpg", :class => "carousel-image", :title => "Sewer Blob", :alt => "The first Unity3d game I experimented with, you are a blob roaming around the sewers trying to find your way out. You run into obstacles such as large snakes and rats."), sewerblob_path %>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/LakeMichiganMainPage.jpg", :class => "carousel-image", :title => "Lake Michigan Visualization", :alt => "View the water temperatures and vector velocities throughout Lake Michigan"), vtkprojects_path%>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/NinjaGameMainPage.jpg", :class => "carousel-image", :title => "Ninja Castle Defense", :alt => "A video game I made in 3 days as a short demo to demonstrate the use of a 52\" touch table."), ninja_path %>
        <%= link_to image_tag("http://renaissancesoftware.net/paulgrenning/UrchinsMainPage.jpg", :class => "carousel-image", :title => "Rise O' The Urchins", :alt => "A game created using Processing for a 52\" touch screen. It won best graphics/animation as well as best audio."), riseotheurchins_path %>
      </div>
      <div id="imageDescriptionHolder"></div>
    </div>
    <div class="arrowHolder imageInline">
      <%= image_tag("rightArrow.png", :id => "right-arrow") %>
    </div>
  </div>
  <div style="clear: both;"></div>
  <div class="prepend-1 span-22 append-1 last">
    <h2>About</h2> 
    <p>I am currently going to school at UIC to obtain my master's degree. I enjoy just about anything that has to do with computers, whether that be playing video games, 
    creating video games, programming, or assembling my own custom rigs.</p>
  </div>
</div>
