<div class='page-info span-24'>
  <div class="span-22 append-1 prepend-1">
    <div class="span-22">
      <h2 class="span-20">My Microwaves</h2>
    </div>
    <div class="span-11 below-gallery">
      <%= image_tag("http://renaissancesoftware.net/paulgrenning/Microwave2.jpg", :class => "microwave-image" )%>
    </div>
    <div class="span-11 last below-gallery">
      <%= image_tag("http://renaissancesoftware.net/paulgrenning/Microwave1.jpg", :class => "microwave-image" )%>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-22 prepend-1 append-1">
    <div class="span-22">
      <h3 class="above-gallery">Microwave Features</h3>
      <p>                                                                                                                                                                                                                              
        The red microwave in the top left is the one I have in my apartment. The white microwave in the top right is a second one I occasionally use.
        <br/>
        <br/>
        The red microwave is simple microwave that doesn't overwhelm the user with buttons. For the most part it has all of the functionality I need. Maybe to someone else it may not have enough buttons. In general though,
        I believe it to be an ucomplicated microwave. Starting off at the top which seems to be common for just about every microwave I have seen, is the LED panel for the clock or timer. As for most digital clocks, they are generally
        tough to figure out how to set. This particular microwave has you type in the time afer you hit "clock/pre-set". There is no scrolling to the minutes or hours digits. 
        <br/>
        <br/>
        Below the led display, we see two rows of buttons with a variety of foods listed on them. Assuming the buttons cook what they say, it could be helpful. I personally have only used the popcorn button once or twice. Once I realized it didn't pop all the kernels in the bag, I changed to manually timing the bags of popcorn. So all in all those two rows are useless and should either be removed or placed at the bottom of the panel.
        <br/>
        <br/>
        Next we can talk about the number pad. The first thing to notice is the express cook rectangle around 1, 2, 3, and partially around 4, 5, 6. Generally express cook means, single touch of the button and the microwave starts
        with that many minutes. The only question that could be confusing about the express cook, are 4, 5, and 6 part of express cook or not? From experience, the answer is yes. It can be seen that the express cook buttons 1 and 2 
        are heavily worn out compared to any other button on the microwave besides "Start/+30Sec".

        <br/>
        <br/>
        The biggest flaw this microwave has is setting an exact time length for microwaving. There is no way to put something in the red microwave for 1 minute 15 seconds, or at least not to my knowledge. So if there is a way, it must
        have been horribly thought out.
        <br/>
        <br/>
        Finally we have a row of buttons on the left starting with Power and ending with Memory. They allow the user to set different levels of power, set weights for defrosting, set a timer without turning the microwave on, and
        perform one more action with memory. 
        <br/>
        <br/>
        As for the white microwave, once again the LED panel is at the top and below is a set of buttons that may or may not be useful. The first two rows are similar to the red microwave, but the third row seems to have 
        some useful functions such as setting the microwave time length, instantly adding a minute, sensor cook, and auto defrost. As for my experience, the add minute button tries to make the user think you have to push start after
        pressing add minute. Pressing start does nothing, the microwave actually wants you to wait about 3 second before it starts. That is a nuissance, most users click add minute or express cook to instantly start a microwave.
        <br/>
        <br/>
        The rest of the buttons are are almost identical except they have a final row to control a vent fan located underneath the microwave.
      </p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-22 prepend-1 append-1">
    <div class="span-22">
      <h3 class="above-gallery">Microwave Usability</h3>
      <p>
       Both microwaves are seemingly easy enough to use. As discussed above, the red microwave could use a set microwave time length, or else the use will have to hit start which adds 30 seconds automatically or a different express
       button. This then causes the user to have to stand and watch the objects in the microwave and take it out at the desired time. All in all though if the user wants to start it, those buttons work perfectly.
       The white microwave has a somewhat hidden add minute button and cook time button mixed in with the specialty cooking buttons. Once you know where they are, they are easy enough to use.
       <br/>
       <br/>
       Doing specific functions like defrosting looks to be much easier on the white microwave than the red one. The white one has a single button auto defrost while the red has two buttons and now the user has to choose what
       they believe to be correct.
       Cooking specific foods on the microwaves list may work but in my experience never have. They are easy to find though but should they be the top items to choose from? All in all they are easy to use even if you want to 
       cook a specific food specified by the microwave.
       <br/>
       <br/>
       Something else to consider would be font size. The font size on the red microwave is much smaller than it looks in that picture and comparitively to the white one. Users with bad vision may have trouble finding exactly 
       what they need on that microwave. The buttons are also a bit smaller in comparison to the white one. The white one may be better for users with bad vision.
      </p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-22 prepend-1 append-1">
    <div class="span-22">
      <h3 class="above-gallery">Improved Microwave Design</h3>
      <div class="span-11">
        <%= image_tag("http://renaissancesoftware.net/paulgrenning/MicrowaveDesign.jpg", :class => "microwave-image" )%>
      </div>
      <div class="span-10 last prepend-1">
        <p>
          On the left is my improved microwave design. The design has been simplified by removing unnecessary buttons and adding features that are much easier to understand.
          <br/>
          <br/>
          For starters all of the specific food/item buttons have been removed. They have been removed because a microwave does not know what type of popcorn you bought, or the size of the popcorn, what type of frozen pizza you bought, it doesn't know
          what is on your dinner plate, how large your baked potato is, or what frozen vegetable you are putting in your microwave. Yes they may have sensors to detect how much vapor or steam is releasing from the frozen item to tell
          if it is done or not, but the real test is if the user is satisfied with what they just cooked or reheated. So, if the microwave over does it, then the user is now upset and out of what ever they just cooked.
          <br/>
          <br/>
          Features that were kept were the express cook buttons. I personally like the ability to instantly start something for 2 minutes. Features added were the add minute, 30 second, and 15 second buttons. The best design is the
          one that has the user push as few buttons as possible. For example if you want to set the microwave for 2:15 you could push "Cook Time", "2", "1", "5", and "Start". This design simplifies that process down to two click with
          pressing "2" and "Add 15 Seconds". There is no need to start since all of the express and instant add buttons start the microwave instantly.
          <br/>
          <br/>
          To continue keeping the design simple there are only a few more buttons. Those are the kitchen timer, clock set, and power level. Some final decisions included making all the buttons large and easy to read. The only color
          besides the green led panel are the start and stop/clear buttons. Those are arguably the most important so they were the only two that disserved color.
        </p>
      </div>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
</div>
