<div class='page-info span-24'>
  <div class="prepend-2 append-2 span-20">
    <h3>Use the left and right arrows on your keyboard to move through the slide show or type the slide number in the text box below the slides. All images can be enlarged by clicking on them and videos can be viewed.</h3>
    <br/>
    <br/>
  </div>
  <div class="span-24" style="overflow:hidden">
    <div class="presentation" value="9">
      <div id="slide" class="slide1">      
        <div class="inside-slide">
          <div class="slide-title">
            <p>What is a solar flare</p>
          </div>
          <div class="slide-content content1">
            <ul>
              <li>A solar flare is a large explosion in the Sun's atmosphere that can release an amazing amount of energy.</li>
              <li>The approximate energy release is 6 x 10<sup>25</sup> joules of energy.</li>
              <li>That is equivalent to millions of 100-megaton hydrogen bombs exploding at the same time or ten million times greater than
              the energy released by a volcanic erupition.</li> 
              <li>These energy bursts can be about 1/6 of the total output of the sun's energy each second.</li>
              <li>They often appear around sun spots</li>
            </ul>
            <div class="span-8">
              <%= link_to image_tag("flare2-thumb.jpg", :id => "below-gallery", :class=>"media-in-slide"),
              '/images/flare2.jpg', :rel => "prettyPhoto[slide1-image]", :title => "Solar flares with the sun blocked out for better visualization."%>
              <%= image_tag("flare2.jpg", :class => "earthquake_screen") %>
            </div>
            <div class="span-10">
              <p>
              Click the image to enlarge. The image has the sun's solar disk blocked out so the solar flare can be visualized better.
              </p>
            </div>
          </div>
          <div class="slide-number-left">
            <p>1</p>
          </div>
          <div class="slide-number-right">
            <p>1</p>
          </div>
        </div>
      </div>
        <div id="slide" class="slide2">      
          <div class="inside-slide">
            <div class="slide-title">
              <p>Solar Flare Footage</p>
            </div>
            <div class="slide-content content2">
              <br/>
              <div class="span-11">
                <div class="media-in-slide" style="width: 400px">
                  <script type="text/javascript" src="http://cdn-akm.vmixcore.com/vmixcore/js?auto_play=0&cc_default_off=1&player_name=uvp&width=400&height=400&player_id=1aa0b90d7d31305a75d7fa03bc403f5a&t=c2c5ba1bd1405638772509926ce0062d"></script>
                </div>
              </div>
              <div class="span-6">
                <p>
                Footage taken from Nasa's Solar Dynamics Observatory. The visual is being shown in ultra violet light.
                It is the largest solar flare since December 5, 2006.
                </p>
              </div>
            <%= link_to image_tag("flare1-thumb.jpg", :id => "below-gallery", :class=>"media-in-slide"),
              '/images/flare1.jpg', :rel => "prettyPhoto[slide2-image]", :title => "Solar flare image captured in ultraviolet light. The white vertical lines are from the overwhelming flash of light from the solar flare."%>
              <%= image_tag("flare1.jpg", :class => "earthquake_screen") %>
            </div>
            <div class="slide-number-left">
              <p>2</p>
            </div>
            <div class="slide-number-right">
              <p>2</p>
            </div>
          </div>
        </div>
        <div id="slide" class="slide3">      
          <div class="inside-slide">
            <div class="slide-title">
              <p>Why Should We Care About Solar Flares?</p>
            </div>
            <div class="slide-content content3">
              <br/>
              <h2>Solar flares ...</h2>
              <br/>
              <ul> 
                <li>Have the ability to disrupt short-wave radio communications due to long lasting radiation storms in the Earth's ionosphere.</li>
                <li>Can create radiation hazards for spaceships and astronauts not protected by the Earth's atmosphere.</li>
                <li>Create solar winds that increase drag on earth's orbitting satelites.</li>
                <li>Are responsible for creating the amazing Aurora Borealis and Aurora Australis.</li>
                <li>Sometimes produce coronal mass ejections</li>
              </ul>
              <div style="margin-left: 3px;">
            <%= link_to image_tag("aurora1-thumb.jpg", :id => "below-gallery", :class=>"media-in-slide aurora-image"),
              '/images/aurora1.jpg', :rel => "prettyPhoto[aurora]", :title => "Aurora Borealis seen from the international space station."%>
              <%= image_tag("aurora1.jpg", :class => "earthquake_screen") %>
            <%= link_to image_tag("aurora3-thumb.jpg", :id => "below-gallery", :class=>"media-in-slide aurora-image"),
              '/images/aurora3.jpg', :rel => "prettyPhoto[aurora]", :title => "Aurora Borealis in Alaska."%>
              <%= image_tag("aurora3.jpg", :class => "earthquake_screen") %>
            <%= link_to image_tag("aurora2-thumb.jpg", :id => "below-gallery", :class=>"media-in-slide aurora-image"),
              '/images/aurora2.jpg', :rel => "prettyPhoto[aurora]", :title => "Aurora Borealis from Spacelab 3"%>
              <%= image_tag("aurora2.jpg", :class => "earthquake_screen") %>
            <%= link_to image_tag("aurora4-thumb.jpg", :id => "below-gallery", :class=>"media-in-slide aurora-image"),
              '/images/aurora4.jpg', :rel => "prettyPhoto[aurora]", :title => "Aurora Borealis captured by a Nasa satelite."%>
              <%= image_tag("aurora4.jpg", :class => "earthquake_screen") %>
            </div>
            </div>
            <div class="slide-number-left">
              <p>3</p>
            </div>
            <div class="slide-number-right">
              <p>3</p>
            </div>
          </div>
        </div>
        <div id="slide" class="slide4">      
          <div class="inside-slide">
            <div class="slide-title">
              <p>Coronal Mass Ejection Video</p>
            </div>
            <div class="slide-content content4">
              <br/>
              <div class="span-8">
                <br/>
                <br/>
                <p>Solar flares may cause CMEs (Coronal Mass Ejections) which releases solar winds containing protons, electrons, and some larger elements such as iron, oxygen, and helium.</p>
                <p>The video to the right is portraying the sun from September 30 to October 1, 2001.</p>
              </div>
              <div class="media-in-slide span-8" style="width: 320px;">
               <img alt="animated GIF" src="/videos/coronal-mass-ejection.gif" width="320" height="320" />
             </div>
            </div>
            <div class="slide-number-left">
              <p>4</p>
            </div>
            <div class="slide-number-right">
              <p>4</p>
            </div>
          </div>
        </div>
        <div id="slide" class="slide5">
          <div class="inside-slide">
            <div class="slide-title">
              <p>Solar Flare Classification</p>
            </div>
            <div class="slide-content content5">
              <br/>
              <p>Solar flares are classified based on the output of X-Rays. The burst is classified at the peak intensity of X-Rays from .1 to .8 nm wavelength.</p>
              <p>The classification values are B, C, M, or X. Each classification is 10 times higher than the previous, so it is a logarithmic growth. Classifications can also have a multplier (A) to compute the level within each class.</p>
              <p class="span-6 prepend-3">
              <br/><span style="text-decoration: underline">Class</span>
              <br/>B
              <br/>C
              <br/>M
              <br/>X
              </p>
              <p class="span-6 append-3">
              <span  style="text-decoration: underline">Peak .1 - .8 nm band</span>
              <br/>(Watts/meter<sup>2</sup>)
              <br/>I < 10<sup>-6</sup>
              <br/>10<sup>-6</sup> I < 10<sup>-5</sup>
              <br/>10<sup>-5</sup> I < 10<sup>-4</sup>
              <br/>I > 10<sup>-4</sup>
              <br/>
              </p>
              <p class="prepend-3">
              For example A could = 6.
              <br/>M6 = 6 x 10<sup>-5</sup> Watts/meter<sup>2</sup>
              </p>
            </div>
            <div class="slide-number-left">
              <p>5</p>
            </div>
            <div class="slide-number-right">
              <p>5</p>
            </div>
          </div>
        </div>
        <div id="slide" class="slide6">
          <div class="inside-slide">
            <div class="slide-title">
              <p>UCI Machine Learning Repository</p>
            </div>
            <div class="slide-content content6">
              <p>Contains 2 datasets, one from 1969 and one from 1978.
              <br/>
              Each dataset has 13 different attributes. 
              </p>
              <ul>
                <li>Classification Code (slightly different than the previous slide)</li>
                <li>Code Largest spot size</li>
                <li>Code for spot distribution</li>
                <li>Activity level (reduced or unchanged)</li>
                <li>Evolution (decay, growth, or none)</li>
                <li>Previous 24 hour flare activity</li>
                <li>Historically complex</li>
                <li>When did it become complex</li>
                <li>Area</li>
                <li>Largest spot area</li>
                <li>C-class</li>
                <li>M-class</li>
                <li>X-class</li>
              </ul>
            </div>
            <div class="slide-number-left">
              <p>6</p>
            </div>
            <div class="slide-number-right">
              <p>6</p>
            </div>
          </div>
        </div>
        <div id="slide" class="slide7">
          <div class="inside-slide">
            <div class="slide-title">
              <p>Burst and Transient Source Experiment</p>
            </div>
            <div class="slide-content content7">
              <p>
              This experiment, also known as BATSE, was being conducted with NASA's Compton Gamma Ray Observatory (CGRO) that orbitted Earth from 1991 to 2000. As mentioned, it is used for detecting gamma rays, but solar flares are detected and measured
               by X-Rays. Luckily CGRO is highly attuned for detecting X-Rays as well.
              </p>
              <p>
              BATSE allows anyone to grab their datasets from 1991 - 2000 assuming you are given permission once you email them.
              <br/>
              <br/>
              The dataset has a number of attributes.
              <ul class="span-7">
                <li>BATSE Event Number</li>
                <li>Date</li>
                <li>Start Time</li>
                <li>Peak Time</li>
                <li>Duration</li>
              </ul>
              <ul class="span-7">
                <br/>
                <li>Peak Rate</li>
                <li>Total Counts</li>
                <li>Burst Trigger</li>
                <li>Trigger Time</li>
              </ul>
              </p>
            </div>
            <div class="slide-number-left">
              <p>7</p>
            </div>
            <div class="slide-number-right">
              <p>7</p>
            </div>
          </div>
        </div>
        <div id="slide" class="slide8">
          <div class="inside-slide">
            <div class="slide-title">
              <p>Science On A Sphere Dataset</p>
            </div>
            <div class="slide-content content8">
              <br/>
              <p>The sun data was collected by the Solar and Heliospheric Observatory. The spacecraft was launched in 1995 by NASA and ESA. The spacecraft has collected two datasets so far.<p>
              <ul class="span-6 append-2">
                <li>The first dataset is 6 years of images spliced together to create a full coverage of the sun's surface</li>
                <li>The second dataset is from October 2003. The spacecraft observed an X17.2 and X10 magnitude solar flare on October 29<sup>th</sup></li>
              </ul>
              <div class="span-9">
                <video src="http://renaissancesoftware.net/paulgrenning/october_2003.ogg" width="300" height="300" controls="controls" class="media-in-slide">Video tag not supported</video> 
              </div>
              <p>The main problem the spacecraft had was visualizing the entire sun at once, which is tough to do with only one spacecraft.</p>
            </div>
            <div class="slide-number-left">
              <p>8</p>
            </div>
            <div class="slide-number-right">
              <p>8</p>
            </div>
          </div>
        </div>
        <div id="slide" class="slide9">
          <div class="inside-slide">
            <div class="slide-title">
              <p>References</p>
            </div>
            <div class="slide-content content9">
              <br/>
              <ul>
                <li><%= link_to "Information from Nasa link 1.", "http://www.nasa.gov/mission_pages/sunearth/news/News021411-xclass.html" %></li>
                <li><%= link_to "Information from Nasa link 2.", "http://www.nasa.gov/mission_pages/sdo/news/briefing-materials-20100421.html" %></li>
                <li><%= link_to "Information from Science On A Sphere", "http://sos.noaa.gov/datasets/solar_system/soho.html" %></li>
                <li><%= link_to "Information from Wikipedia.", "http://en.wikipedia.org/wiki/Solar_flare" %></li>
                <li><%= link_to "Information from The Telegraph in the UK", "http://www.telegraph.co.uk/science/space/8012997/Solar-flares-everything-you-need-to-know.html" %></li>
              <ul>
            </div>
            <div class="slide-number-left">
              <p>9</p>
            </div>
            <div class="slide-number-right">
              <p>9</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="prepend-10"><p><br/>Go To Slide:<input type="text" name="slideNumber" value="1" class="media-in-slide slide-number-textbox" style="margin-left: 10px; width:50px;" /></p></div>
</div>
