<div class='page-info span-24'>
  <div normalHeight="210" class="collapsableArea collapsableAreaStartOpen span-22 append-1 prepend-1" id="Bug-Page">
    <div class="span-22">
      <h2 class="span-20">Weekly Updates</h2>
      <div class="span-2 last"><%= image_tag("http://renaissancesoftware.net/paulgrenning/contractArrow.png", :class => "expandArrow", :state => "open") %></div>
    </div>
    <div class="span-22">
      <h3 class="span-22">2/17 Update</h2>
      <p>
      For our first week we are all going to be working on our sketches and brainstorm about possible features. The following week we are going to discuss our ideas and decide what features make it to the next round of sketches.
      </p>
    </div>
    <div class="span-22">
      <h3 class="span-22">2/24 Update</h2>
      <p>
        During our second week, each team member sketched up 20+ images for their preferred user interface design. We have discussed our designs with each other and are compiling our first group design. We are keeping/omitting
        individual ideas based on our group discussions.
      </p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div normalHeight="2000" class="collapsableArea span-22 append-1 prepend-1" id="Bug-Page">
    <div class="span-22">
      <h2 class="span-20">Paul's Sketch Up</h2>
      <div class="span-2 last"><%= image_tag("http://renaissancesoftware.net/paulgrenning/expandArrow.png", :class => "expandArrow", :state => "closed") %></div>
    </div>
    <div class="span-22">
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror1.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror1.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror1.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
          This is what the user interface could look like. At the bottom of the image we can see two sliders. One is for the user interface overlay opacity while the other is for the mirror opacity.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror2.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror2.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror2.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
          In this image we have faded out the user interface completely while fading in the mirror image to 78%.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror3.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror3.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror3.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
          In this image we have done the opposite, faded the user interface in to 78% and the mirror out completely.
        </p>
      </div>
      <div style="clear:both"></div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror4.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror4.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror4.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
          This next image shows the light feature. If the user hits the light icon in the bottom right, an overlay with a slider pops up. We can slide tha to fade a white screen in and out.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror5.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror5.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror5.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
          This screen shot shows the light fading in over the overlay. 
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror6.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror6.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror6.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
          This image shows the alarm, timer, and time setting overlay when the user selects the timer in the top right.
        </p>
      </div>
      <div style="clear:both"></div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror7.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror7.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror7.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
        After selecting the time button, the user can select the set alarm button. After scrolling the 3 dials to the appropriate value, the user can save or cancel.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror8.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror8.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror8.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
        When saving the user will notice the alarm icon
        in the top right no longer have a red invalid icon over it.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror9.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror9.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror9.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
        The user also has the ability to set a timer with hours, minutes, and seconds.
        </p>
      </div>
      <div style="clear:both"></div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror10.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror10.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror10.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
        The user can select the time zone if they cannot get the time from the internet. When doing this, they touch the part of the map they live in.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror11.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror11.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror11.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
          The user can delete a widget off the main display by dragging it to the garbage can. When dragging, a garbage can appears in the bottom left otherwise it is invisible.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror12.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror12.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror12.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
        The user can also drag any widget to any part of the mirror.
        </p>
      </div>
      <div style="clear:both"></div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror13.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror13.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror13.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
        As it can be seen, the user rearranged the widgets to an arrangement they preffered.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror14.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror14.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror14.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
        The settings icon is permanenly on the mirror. It can be placed anywhere. When selecting the settings icon, an overlay pops up giving the user a few preferences.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror15.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror15.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror15.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
        The user can choose from a vast number of widgets that they can put on their mirror.
        </p>
      </div>
      <div style="clear:both"></div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror19.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror19.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror19.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
        When the user selects a widget it becomes modal, greying the rest of the mirror.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror20.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror20.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror20.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
         The widget button stays modal until the user drags it to some position.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror21.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror21.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror21.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
        The user can then select the widget and view its specific details or use its functionality.
        </p>
      </div>
      <div style="clear:both"></div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror16.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror16.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror16.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
        The user can select their language preference.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror17.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror17.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror17.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
        The user can connect to a wifi network to auto sync widgets and the time.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror18.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror18.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror18.jpg', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
        The user can choose the reset to default button inside settings.
        </p>
      </div>
      <div sytle="clear:both"></div>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div normalHeight="1560" class="collapsableArea span-22 append-1 prepend-1" id="Bug-Page">
    <div class="span-22">
      <h2 class="span-20">Ty's Sketch Up</h2>
      <div class="span-2 last"><%= image_tag("http://renaissancesoftware.net/paulgrenning/expandArrow.png", :class => "expandArrow", :state => "closed") %></div>
    </div>
    <div class="span-22">
      <% TY_IMAGES.each_with_index do |image, index| %>
        <div class="mirrorThumbWidth">
          <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/ty/thumbs/'+image[:thumb], :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
            'http://renaissancesoftware.net/paulgrenning/uip2/ty/'+image[:big],  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
          <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/ty/'+image[:big], :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        </div>
        <% if (index+1) % 3 == 0 %>
          <div style="clear:both"></div>
          <p></p> 
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div normalHeight="1560" class="collapsableArea span-22 append-1 prepend-1" id="Bug-Page">
    <div class="span-22">
      <h2 class="span-20">Paulo's Sketch Up</h2>
      <div class="span-2 last"><%= image_tag("http://renaissancesoftware.net/paulgrenning/expandArrow.png", :class => "expandArrow", :state => "closed") %></div>
    </div>
    <div class="span-22">
      <% PAULO_IMAGES.each_with_index do |image, index| %>
        <div class="mirrorThumbWidth">
          <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paulo/thumbs/'+image[:thumb], :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
            'http://renaissancesoftware.net/paulgrenning/uip2/paulo/'+image[:big],  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
          <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paulo/'+image[:big], :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        </div>
        <% if (index+1) % 3 == 0 %>
          <div style="clear:both"></div>
          <p></p> 
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div normalHeight="1560" class="collapsableArea span-22 append-1 prepend-1" id="Bug-Page">
    <div class="span-22">
      <h2 class="span-20">Ron's Sketch Up</h2>
      <div class="span-2 last"><%= image_tag("http://renaissancesoftware.net/paulgrenning/expandArrow.png", :class => "expandArrow", :state => "closed") %></div>
    </div>
    <div class="span-22">
      <% RON_IMAGES.each_with_index do |image, index| %>
        <div class="mirrorThumbWidth">
          <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/ron/thumbs/'+image[:thumb], :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
            'http://renaissancesoftware.net/paulgrenning/uip2/ron/'+image[:big],  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
          <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/ron/'+image[:big], :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        </div>
        <% if (index+1) % 3 == 0 %>
          <div style="clear:both"></div>
          <p></p> 
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div normalHeight="1640" class="collapsableArea span-22 append-1 prepend-1" id="Bug-Page">
    <div class="span-22">
      <h2 class="span-20">February 27, Revision 1</h2>
      <div class="span-2 last"><%= image_tag("http://renaissancesoftware.net/paulgrenning/expandArrow.png", :class => "expandArrow", :state => "closed") %></div>
    </div>
    <div class="span-22">
      <% REV1_IMAGES.each_with_index do |image, index| %>
        <div class="mirrorThumbWidth">
          <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/revision1/thumbs/'+image[:thumb], :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
            'http://renaissancesoftware.net/paulgrenning/uip2/revision1/'+image[:big],  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
          <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/revision1/'+image[:big], :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
          <p><%= image[:description] %></p>
        </div>
        <% if (index+1) % 3 == 0 %>
          <div style="clear:both"></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
</div>
