<div class='page-info span-24'>
  <div normalHeight="210" class="collapsableArea collapsableAreaStartOpen span-22 append-1 prepend-1" id="Bug-Page">
    <div class="span-22">
      <h2 class="span-20">Weekly Updates</h2>
      <div class="span-2 last"><%= image_tag("http://renaissancesoftware.net/paulgrenning/contractArrow.png", :class => "expandArrow", :state => "open") %></div>
    </div>
    <div class="span-22">
      <h3 class="span-22">2/17 Update</h2>
      <p>
      For our first week we are all going to be working on our sketches and brainstorm about possible features. The following week we are going to discuss our ideas and decide what features make it to the next round of sketches.
      </p>
    </div>
    <div class="span-22">
      <h3 class="span-22">2/24 Update</h2>
      <p>
        During our second week, each team member sketched up 20+ images for their preferred user interface design. We have discussed our designs with each other and are compiling our first group design. We are keeping/omitting
        individual ideas based on our group discussions.
      </p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div normalHeight="340" class="collapsableArea span-22 append-1 prepend-1" id="Bug-Page">
    <div class="span-22">
      <h2 class="span-20">Paul's Sketch Up</h2>
      <div class="span-2 last"><%= image_tag("http://renaissancesoftware.net/paulgrenning/expandArrow.png", :class => "expandArrow", :state => "closed") %></div>
    </div>
    <div class="span-22">
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror1.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror1.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror1.png', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
          This is what the user interface could look like. At the bottom of the image we can see two sliders. One is for the user interface overlay opacity while the other is for the mirror opacity.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror2.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror2.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror2.png', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
          In this image we have faded out the user interface completely while fading in the mirror image to 78%.
        </p>
      </div>
      <div class="mirrorThumbWidth">
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/Mirror3.jpg', :class => 'mirrorThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror3.jpg',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/uip2/paul/big/Mirror3.png', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <p>
          In this image we have done the opposite, faded the user interface in to 78% and the mirror out completely.
        </p>
      </div>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
</div>
