<div class='page-info span-24'>
  <div class="span-22 append-1 prepend-1">
    <div class="span-22">
      <h2 class="span-22">Vending Video</h2>
      <p>If the video doesn't scale correctly, right click it and choose "Show All".</p>
      <div style="width: 880px; height: 640px; margin-bottom: 40px; border: 1px sold #fff;">
        <object scale="exactfit" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="880" height="640">
        <PARAM name="scale" VALUE="exactfit">
        <param name="movie" value="http://renaissancesoftware.net/paulgrenning/vendingImages/VendingVideo.swf" />
        <embed src="http://renaissancesoftware.net/paulgrenning/vendingImages/VendingVideo.swf" quality="high" type="application/x-shockwave-flash" width="880" height="640" scale="exactfit" pluginspage="http://www.macromedia.com/go/getflashplayer" />
        </object>
      </div>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-22 append-1 prepend-1">
    <div class="span-22">
      <h2 class="span-22">Download App and Source</h2>
      <p>
      The Mac OS X application can be downloaded <%= link_to "here.", "http://renaissancesoftware.net/paulgrenning/VendingApplication.zip"%> To run it double click on Vending.app.
      <br/>
      <br/>
      The QT and QML Source code can be downloaded <%= link_to "here.", "http://renaissancesoftware.net/paulgrenning/VendingApplication.zip"%>
      </p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-22 append-1 prepend-1">
    <div class="span-22">
      <h2 class="span-20">Vending Application Instructions</h2>
      <div class="span-11">
        <p>
          The applicaiton opens with a few instructions and a few buttons. All of the text and buttons on the user interface have been exagerated for two purposes. One, ease of use by anybody, and two, this is a touch interface
          so we don't want to have small buttons making it tough to make selection.
          <br/>
          <br/>
          For starters, we can choose from four buttons which are browse all, browse favorites, preferences, or quit. Inside preferences we can change our language, currency, allergy preferences, helth preferences, and our credit
          card information. After setting preferences, a user can choose from their favorites or browse all of the items. If they browse all of their items, they have choices for categories to make searching simpler. Those 
          categories are snacks, candy, small meals, hot drinks, cold drinks, and ice cream. There is no real need to split it up any further since user's can already place commonly bought items in their favorites. 
        </p>
      </div>
      <div class="span-11 last">
        <p>
          Once a user has selected a category, they can browse a scrollable list of items. In this view the user can see the price with the custom exchange rate and an image if available. After a user selects an item
          they are presented with another screen displaying the item name, price, larger image, ingredients, and nutrition information. If the user had chosen an allergy preferences or health preferences, this page would
          notify they user if the item contained allergies or was not of the desirable health preference such as gluten free.
          <br/>
          <br/>
          The user can the proceed to adding/removing the current item to the favorites or purchasing the item. If the user does not have valid credit card information, they would be notified and required to fill out the
          credit card fields before purchasing. Lastly, after purchasing the item, the user is notified of which vending machine contains the released item. If they did not receive it, they can select a button and someone
          will be notified to come and assist the individual.
        </p>
      </div>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-22 append-1 prepend-1">
    <div class="span-22">
      <h2 class="span-20">Implementation Reasoning</h2>
      <div class="span-22">
          <p>
          This application's design has been created for a tablet style device. Many users are already familiar with iPad's and touch phones so the screen movement should look and feel very familiar. Current screens
          slide off left while the newly selected item slides in from the right. 
          One of the most prominent features that should be noticeable are the large buttons and text which allow users to easily read and touch the buttons. This allows people with bad vision or bad hand eye coordination
          to still select the correct items and categories. There are also very few buttons per page to make the user choice of where to go next quite simple. The grey scale color scheme was chosen so that it wasn't too obtrusive. It
          ensured colorful icons and item images popped out at you instead of unnecessary features.
          The application was made for a smooth flow. The user can easily browse and select a category. Then the user can view the item with the price and a large thumbnail of the item they want to buy. All of the category's items
          are in a scollable list so the user doesn't have to do any page swapping. Then an item is chosen and the user can easily view nutrition facts, ingredients if they care to. If the user already chose allergy and health
          preferences, reading the ingredients isn't necessary since the application automatically notifies you of allergies. Lastly the user has 3 choices on this page, pruchse, update credit card information if necessary, and add or remove from favorites. This makes the users options pretty straight forward and simple.
          </p>
          
      </div>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-22 append-1 prepend-1" style="margin-bottom: 40px;">
    <div class="span-22">
      <h2 class="span-22">Image Gallery</h2>
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/HomePageThumb.png', :class => 'vendingThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/vendingImages/HomePage.png',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/HomePage.png', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/preferencesPageThumb.png', :class => 'vendingThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/vendingImages/preferencesPage.png',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/preferencesPage.png', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/categoryPageThumb.png', :class => 'vendingThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/vendingImages/categoryPage.png',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/categoryPage.png', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/SnackSelectionThumb.png', :class => 'vendingThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/vendingImages/SnackSelection.png',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/SnackSelection.png', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/SpecifciItemPageThumb.png', :class => 'vendingThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/vendingImages/SpecifciItemPage.png',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/SpecifciItemPage.png', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/allergyNotificationsThumb.png', :class => 'vendingThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/vendingImages/allergyNotifications.png',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/allergyNotifications.png', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
        <%= link_to image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/confirmationPageThumb.png', :class => 'vendingThumbs', :id => "space_polaroid_", :description => "", :alt => ""),
          'http://renaissancesoftware.net/paulgrenning/vendingImages/confirmationPage.png',  :backuptitle => "", :title => "", :class => "pop-out", :id => "pop-out-", :rel => "prettyPhoto[flightsimThumbs]"%>
        <%= image_tag('http://renaissancesoftware.net/paulgrenning/vendingImages/confirmationPage.png', :class => "space_portrait", :id => "space_portrait_", :alt => "") %>
    </div>
  </div>
</div>
