<div class='page-info span-24'>
  <div class="span-23  prepend-1">
    <div class="span-14">
      <h2>CS 524 Visualization and Visual Analytics 2</h2>
    </div>
    <div>
      <%= image_tag("VTK-Logo.png", :id => "vtklogo") %>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-23  prepend-1">
    <div class="span-24">
      <h3>Project 1:</h3>
    </div>
    <div class="span-11">
      <p>
      We are to take earthquake data and make a visual representation on a flat map or a globe.
      In general the user must be able to view all the earthquake data from 1973-present. They need to be able
      to view specific magnitudes, depths, and years.
      The user should visually understand what the 3d points represent and how magnitude and depth are shown.
      <br/><br/>
      All the earthquake data for my project is coming from the 
      <%= link_to "United States Geological Survey Website", 'http://earthquake.usgs.gov/earthquakes/eqarchives/epic/epic_global.php'%>
      .
      </p>
    </div>
    <div class="span-11 last">
      <ul>
        <li>
        To check out screen shots and videos <%= link_to "jump to this page.", earthquakeinfo_path %>
        </li>
        <li>
        To understand more about the <%= link_to "dataset and interesting anomolies click here", earthquakeanomilies_path %> (More Screen Shots).
        </li>
        <li>
        If you are interested in installing vtk and running my source code, <%= link_to "intructions can be found here.", vtkforwindows_path %>
        </li>
        <li>
        To view the source code <%= link_to "click here.", viewearthquakesource_path %>
        </li>
        <li>
        If you don't care about the source code and would just like to download the stand alone windows
        executable <%= link_to "click here!", earthquakeexecutable_path %>
        </li>
      </ul>
    </div>
    <div class="span-24">
      <%= image_tag("EarthquakeImages/underEarthquakeImage.png") %> 
      <p><br/></p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-23  prepend-1">
    <div class="span-24">
      <h3>Project 2:</h3>
    </div>
    <div class="span-11">
      <p>
      Not in progess.
      </p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-23  prepend-1">
    <div class="span-24">
      <h3>Project 3:</h3>
    </div>
    <div class="span-11">
      <p>
      Not in progess.
      </p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-23  prepend-1">
    <div class="span-24">
      <h3>Project 4:</h3>
    </div>
    <div class="span-11">
      <p>
      Not in progess.
      </p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-23  prepend-1">
  </div>
</div>
