<div class='page-info span-24'>
  <div class="span-23  prepend-1">
    <div class="span-14">
      <h2>CS 524 Visualization and Visual Analytics 2</h2>
    </div>
    <div>
      <%= image_tag("VTK-Logo.png", :id => "vtklogo") %>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-23  prepend-1">
    <div class="span-24">
      <h3>Project 1:</h3>
    </div>
    <div class="span-11">
      <p>
      We are to take earthquake data and make a visual representation on a flat map or a globe.
      In general the user must be able to view all the earthquake data from 1973-present. They need to be able
      to view specific magnitudes, depths, and years.
      The user should visually understand what the 3d points represent and how magnitude and depth are shown.
      <br/><br/>
      All the earthquake data for the project is coming from the 
      <%= link_to "United States Geological Survey Website", 'http://earthquake.usgs.gov/earthquakes/eqarchives/epic/epic_global.php'%>
      .
      </p>
    </div>
    <div class="span-11 last">
      <ul>
        <li>
        To check out screen shots and videos <%= link_to "jump to this page.", earthquakeinfo_path %>
        </li>
        <li>
        To understand more about the <%= link_to "dataset or view interesting data points, click here", earthquakeanomilies_path %> (More Screen Shots And 1 Video).
        </li>
        <li>
        If you are interested in installing vtk and running my source code, <%= link_to "intructions can be found here.", vtkforwindows_path %>
        </li>
        <li>
        To download the source code <%= link_to "click here.", earthquakesource_path %>
        </li>
        <li>
        If you don't care about the source code and would just like to download the stand alone windows
        executable <%= link_to "click here!", earthquakeexecutable_path %>
        </li>
      </ul>
    </div>
    <div class="span-24">
      <%= image_tag("EarthquakeImages/underEarthquakeImage.png", :class => "vtkprojectimages") %> 
      <p><br/></p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-23  prepend-1">
    <div class="span-24">
      <h3>Project 1.5: Short presentation on solar flares</h3>
    </div>
    <div class="span-11 append-1">
      <p>The short presentation contains interesting facts about solar flares, information on publicy available datasets, and some pretty cool images and videos. Even if you don't care about
       solar flares, you can see how the presentation utilizes html5, javascript, and CSS3.
      <br/>
      <br/>
      <%= link_to "Click here to view the slide presentation.", solarflares_path %>
      </p>
    </div>
    <div class="span-10" style="margin-top: -30px;">
      <%= image_tag("solarFlareMain.jpg", :class => "vtkprojectimages")%>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-23  prepend-1">
    <div class="span-24">
      <h3>Project 2:</h3>
    </div>
    <div class="span-11">
      <p>
      Our second project will deal with visualizing data from Lake Michigan. To start the project we will have to parse through gigabytes of data to obtain
      the desired datasets. We will view temperature data in 19 different layers of the lake and water velocity in those same layers.
      <br/>
      <br/>
      All the Lake Michigan data for the project is coming from the <%= link_to ("Great Lakes Observing System", "http://www.glos.us/thredds/catalog.html") %>. 
      </p>
    </div>
    <div class="span-11 last">
      <ul>
        <li>
        To check out screen shots and videos <%= link_to "jump to this page.", lakemichiganinfo_path %>
        </li>
        <li>
        To understand more about the dataset or view other vidoes and images visualizing the dataset <%= link_to ", click here", lakemichigandata_path %>.
        </li>
        <li>
        If you are interested in installing vtk and running my source code, <%= link_to "intructions can be found here.", vtkforwindows_path %>
        </li>
        <li>
        To download the source code <%= link_to "click here.", "http://renaissancesoftware.net/paulgrenning/LakeMichiganSource.zip"%>
        <br/>
        To download the data to use with the program <%= link_to "click here.", "http://renaissancesoftware.net/paulgrenning/LakeMichiganData.zip"%>
        </li>
        <li>
        If you don't care about the source code and would just like to download the stand alone windows
        executable <%= link_to "click here.", "http://renaissancesoftware.net/paulgrenning/LakeMichiganExe.zip"%>
        <br/>
        Make sure to grab the <%= link_to "data ", "http://renaissancesoftware.net/paulgrenning/LakeMichiganData.zip"%>
        and put the three folders and 1 file in the same directory as the executable.
        </li>
      </ul>
    </div>
    <div class="span-24">
      <%= image_tag("http://renaissancesoftware.net/paulgrenning/underLakeMichigan.jpg", :class => "vtkprojectimages") %> 
      <p><br/></p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-23  prepend-1">
    <div class="span-22 append-1">
      <h3>Project 2.5: Paper Presentation</h3>
    </div>
    <div class="span-11">
      <p>
      <%= link_to "Check out my presentation on Ia type supernovae.", supernovaepresentation_path %>
      </p>
      <p>
        The title of the paper:
        <br/>
        <br/>
        <span class="italicFont"><%= link_to "Three-Dimensional Simulations Of the Deflagrationn Phase of the Gravitationally Confined Detonation Model of Type Ia Supernovae." , "http://iopscience.iop.org/0004-637X/681/2/1448" %></span>
      </p>
    </div>
    <div class="span-10 prepend-1 last" style="margin-top: -30px;">
      <%= image_tag("supernovae-image.png", :class => "vtkprojectimages") %>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-23  prepend-1">
    <div class="span-24">
      <h3>Project 3:</h3>
    </div>
    <div class="span-11">
      <p>
        For this project we were able to do any project we wanted and find the datasets ourselves. The dataset I found is from <%= link_to "The Tornado History Project Website", "http://www.tornadohistoryproject.com/" %>
      </p>
      <p>
       This tool shows the locations of all the tornadoes from 1950-2010. The data can also be exported to Google Earth for more detail on a specific tornado. 
      </p>
      <p>
       If you download the executable you must have Google Earth Installed. Go to <%= link_to "this website to download and install Google Earth.", "http://www.google.com/earth/download/ge/" %>
      </p>
    </div>
    <div class="span-11 last">
      <ul>
        <li>
        To check out screen shots and videos <%= link_to "jump to this page.", tornadovistool_path%>
        </li>
        <li>
        To understand more about the <%= link_to "dataset or view interesting data points, click here", tornadovisdata_path%>.
        </li>
        <li>
        If you are interested in installing vtk and running my source code, <%= link_to "intructions can be found here.", vtkforwindows_path %>
        </li>
        <li>
        To download the source code and all the data <%= link_to "click here.", "http://renaissancesoftware.net/paulgrenning/TornadoVisualizationSource.zip" %>
        </li>
        <li>
        If you don't care about the source code and would just like to download the stand alone windows
        executable <%= link_to "click here!", "http://renaissancesoftware.net/paulgrenning/TornadoVisualizationExecutable.zip"%>
        </li>
        <li>
          <%= link_to "Make sure to download and install Google Earth before trying to use my program.", "http://www.google.com/earth/download/ge/" %>
        </li>
      </ul>
    </div>
    <div class="span-24">
      <%= image_tag("http://renaissancesoftware.net/paulgrenning/underTornado.jpg", :class => "vtkprojectimages") %> 
      <p><br/></p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-23  prepend-1">
    <div class="span-24">
      <h3>Project 4:</h3>
    </div>
    <div class="span-11">
      <p>
        For our final project, as a class we had to collect data. The data we collected was from the CTA Blue line in Chicago. To read more about the data
        collection, click here.
      </p>
      <p>
        The tool will show you GPS readings, velocity, and acceleration of the train throughout our trip from blue line stop Forest Park to UIC-Halsted.
      </p>
    </div>
    <div class="span-11 last">
      <ul>
        <li>
        To check out screen shots and videos <%= link_to "jump to this page.", ctavisinfo_path%>
        </li>
        <li>
        To understand more about the <%= link_to "dataset or view interesting data points, click here", ctavisdata_path%>.
        </li>
        <li>
        If you are interested in installing vtk and running my source code, <%= link_to "intructions can be found here.", vtkforwindows_path %>
        </li>
        <li>
        To download the source code and all the data <%= link_to "click here.", "http://renaissancesoftware.net/paulgrenning/CrazyTrainSource.zip" %>
        </li>
        <li>
        If you don't care about the source code and would just like to download the stand alone windows
        executable <%= link_to "click here!", "http://renaissancesoftware.net/paulgrenning/CrazyTrainExecutable.zip"%>
        </li>
        <li>
          <%= link_to "Make sure to download and install Google Earth before trying to use my program.", "http://www.google.com/earth/download/ge/" %>
        </li>
      </ul>
    </div>
    <div class="span-24">
      <%= image_tag("http://renaissancesoftware.net/paulgrenning/CrazyTrainBanner.jpg", :class => "vtkprojectimages") %> 
      <p><br/></p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-23  prepend-1">
  </div>
</div>
