<div class="span-23 append-1">
  <%= image_tag("horizontal-divider.png") %>
</div>
<div id="footer" class="span-23 prepend-1">
  <div class="span-22"  id="footer-navigation-wrapper">
    <%= link_to image_tag("glass-overlay.png",  :id => "navigation-glass"), root_path, :class => "glass-link"%>
    <ul id="footer-navigation">
      <li><%= link_to "Home", root_path%></li>
      <li><%= link_to "Web Development", websitecreation_path%></li>
      <li><%= link_to "Dark Tide Software", darktide_path%></li>
      <li><%= link_to "Bug Splat", bugsplat_path%></li>
      <li><%= link_to "Rise O\' The Urchins", riseotheurchins_path%></li>
      <li><%= link_to "Ninja Defense", ninja_path%></li>
    </ul>
  </div>
</div>
<div class="span-23 spacers">
  <%= image_tag("horizontal-divider.png") %>
</div>
<div id="copyright" class="span-24">
  <p>© Paul Grenning</p>
</div>
