<div class="span-24" id="footer-tab">
  <%= image_tag("images/footer-tab10.png") %>
</div>
<div id="footer-wrap">
  <div class="span-23 append-1">
    <%= image_tag("images/horizontal-divider.png") %>
  </div>
  <div id="footer" class="span-23 prepend-1">
    <div class="span-22"  id="footer-navigation-wrapper">
      <%= link_to image_tag("images/glass-overlay.png",  :id => "navigation-glass"), root_path, :class => "glass-link"%>
      <ol id="footer-navigation">
        <li><%= link_to "Home", root_path, :id => 'firstChild'%></li>
        <li><%= link_to "Web Development", websitecreation_path%></li>
        <li><%= link_to "Dark Tide Software", darktide_path%></li>
        <li><%= link_to "Bug Splat", bugsplat_path%></li>
        <li><%= link_to "Rise O\' The Urchins", riseotheurchins_path%></li>
        <li><%= link_to "Ninja Defense", ninja_path%></li>
      </ol>
    </div>
  </div>
  <div class="span-23 spacers">
    <%= image_tag("images/horizontal-divider.png") %>
  </div>
  <div id="copyright" class="span-24">
    <p>© Paul Grenning</p>
  </div>
</div>
