<div id="footer">
  <%= image_tag("horizontal-divider.png", :id => 'above-nav') %>
     <div class="span-23 prepend-1"  id="footer-navigation">
       <ul id="footer-navigation">
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "Dark Tide Software", darktide_path %></li>
         <li><%= link_to "Bug Splat", '#' %></li>
         <li><%= link_to "Rise O\' The Urchins", riseotheurchins_path %></li>
       </ul>
      </div>
      <%= image_tag("horizontal-divider.png", :id => 'below-nav') %>
      <div id="copyright">
        <p>© Paul Grenning</p>
      </div>
</div>
