<div id="footer" class="span-24">
  <div>
    <%= image_tag("horizontal-divider.png") %>
  </div>
  <div class="span-23 prepend-1"  id="footer-navigation">
    <ul id="footer-navigation">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Dark Tide Software", darktide_path %></li>
      <li><%= link_to "Bug Splat", bugsplat_path %></li>
      <li><%= link_to "Rise O\' The Urchins", riseotheurchins_path %></li>
    </ul>
  </div>
  <div>
    <%= image_tag("horizontal-divider.png",  :class => "span-24") %>
  </div>
  <div id="copyright" class="span-24">
    <p>© Paul Grenning</p>
  </div>
</div>
