<div id="header-wrap" class="span-24">
	<div id="header"> 
    <div class="span-24"  id="header-navigation">
      <ul id="header-navigation-list">
        <!-- <li><%= link_to "Home", root_path, :class => "header-navigation-button" %></li>-->
        <li><%= link_to image_tag("home-images/homeTab.png", :class => "header-navigation-button"), root_path %></li>
        <li><%= link_to image_tag("home-images/unityDevelopmentTab.png", :class => "header-navigation-button"), unitydevelopment_path %></li>
        <li><%= link_to image_tag("home-images/vtkDevelopmentTab.png", :class => "header-navigation-button"), vtkprojects_path%></li>
        <li><%= link_to image_tag("home-images/processingDevelopmentTab.png", :class => "header-navigation-button"), processingpage_path %></li>
        <li><%= link_to image_tag("home-images/webDevelopmentTab.png", :class => "header-navigation-button"), websitecreation_path%></li>
      </ul>
    </div>
     <div class="span-23 prepend-1">
       <h1 id="header-name">
         <%= link_to @page_header[:name], @page_header[:link], :id=>@page_header[:theid]%>
       </h1>
     </div>
     <div class="span-2 append-1 last">
     </div>
     <div class="span-24 last">
     </div>
     <%= image_tag("header-tab10.png", :id => "header-tab") %>
	</div>
</div>
