<div id="header-wrap" class="span-24">
	<div id="header"> 
  <div class="span-24"  id="header-navigation">
    <ul id="header-navigation-list">
      <li><%= link_to image_tag("home.png", :class => "header-navigation-button"), root_path %></li>
      <li><%= link_to image_tag("website.png", :class => "header-navigation-button"), websitecreation_path %></li>
      <li><%= link_to image_tag("darktide.png", :class => "header-navigation-button"), darktide_path %></li>
      <li><%= link_to image_tag("bugsplat.png", :class => "header-navigation-button"), bugsplat_path %></li>
      <li><%= link_to image_tag("urchins.png", :class => "header-navigation-button"), riseotheurchins_path %></li>
      <li><%= link_to image_tag("ninjadefense.png", :class => "header-navigation-button"), ninja_path %></li>
    </ul>
  </div>
     <div class="span-20 prepend-1">
       <h1 id="header-name">
         <%= link_to @page_header[:name], @page_header[:link] %>
       </h1>
     </div>
     <div class="span-2 append-1 last">
       <%= link_to image_tag("twitter.jpg", :id => "twitter"), 'http://twitter.com/paul_grenning' %>
     </div>
     <div class="span-24 last">
     </div>
     <%= image_tag("horizontal-divider.png") %>
	</div>
</div>
