<div id="header-wrap" class="span-24">
	<div id="header"> 
  <div class="span-24"  id="header-navigation">
    <ul id="header-navigation-list">
      <li><%= link_to image_tag("images/home.png", :class => "header-navigation-button"), root_path %></li>
      <li><%= link_to image_tag("images/website.png", :class => "header-navigation-button"), websitecreation_path %></li>
      <li><%= link_to image_tag("images/darktide.png", :class => "header-navigation-button"), darktide_path %></li>
      <li><%= link_to image_tag("images/bugsplat.png", :class => "header-navigation-button"), bugsplat_path %></li>
      <li><%= link_to image_tag("images/urchins.png", :class => "header-navigation-button"), riseotheurchins_path %></li>
      <li><%= link_to image_tag("images/ninjadefense.png", :class => "header-navigation-button"), ninja_path %></li>
    </ul>
  </div>
     <div class="span-20 prepend-1">
       <h1 id="header-name">
         <%= link_to @page_header[:name], @page_header[:link], :id=>@page_header[:theid]%>
       </h1>
     </div>
     <div class="span-2 append-1 last">
       <%= link_to image_tag("images/twitter.jpg", :id => "twitter"), 'http://twitter.com/paul_grenning' %>
     </div>
     <div class="span-24 last">
     </div>
     <%= image_tag("images/header-tab10.png", :id => "header-tab") %>
	</div>
</div>
