<div id="header-wrap" class="span-24">
	<div id="header"> 
    <div class="span-24"  id="header-navigation">
      <ul id="header-navigation-list">
        <li><%= link_to "Home", root_path, :class => "header-navigation-button" %></li>
        <li><%= link_to "Unity Development", unitydevelopment_path, :class => "header-navigation-button" %></li>
        <li><%= link_to "VTK Development", vtkprojects_path, :class => "header-navigation-button" %></li>
        <li><%= link_to "Processing Development", processingpage_path, :class => "header-navigation-button" %></li>
        <li><%= link_to "Web Development", websitecreation_path, :class => "header-navigation-button" %></li>
      </ul>
    </div>
     <div class="span-23 prepend-1">
       <h1 id="header-name">
         <%= link_to @page_header[:name], @page_header[:link], :id=>@page_header[:theid]%>
       </h1>
     </div>
     <div class="span-2 append-1 last">
     </div>
     <div class="span-24 last">
     </div>
     <!--     <%= image_tag("header-tab10.png", :id => "header-tab") %> -->
	</div>
</div>
