<div id="header-wrap">
	<div id="header"> 
	  <div id="header-logo">
	    <%= image_tag("name-tag.png", :alt => "Sample App", :class => "logo") %>
	  </div>
	  <div id="header-menu">
	      <%= link_to image_tag("home.png", :id => "navhome", :alt => "home"), root_path %>
	      <%= link_to image_tag("about.png", :alt => "about", :id=> "navabout"), about_path %>
	      <%= link_to image_tag("projects.png", :alt => "projects", :id=> "navprojects"), projects_path %>
	      <%= link_to image_tag("contact.png", :alt => "contact", :id=> "navcontact"), contact_path %>
	  </div>
	</div>
</div>
