<div><p></p></div>
<div id='main'>
  <div class='main-block'>
    <div id='sidebar'>
      <ul>
	<li><%= link_to 'Home', root_path  %></li>
	<li><%= link_to 'About The Team', about_path %></li>
	<li><%= link_to 'Art Work',  artwork_path %></li>
	<li><%= link_to 'Videos', videos_path %></li>
	<li><%= link_to 'Help', '#' %></li>
      </ul>
    </div>
  </div>
</div>
