<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
me Help Sign in
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>
    <%= render "layouts/stylesheets" %>
    <%= javascript_include_tag "jquery-1.4.1.min" %>
    <%= javascript_include_tag "jquery-ui" %>
    <%= javascript_include_tag "jrails" %>
    <%= javascript_include_tag "prettyPhoto/js/jquery.prettyPhoto" %>
    <%= javascript_include_tag "home" %>
    <%= javascript_include_tag "urchinspage" %>
    <%= javascript_include_tag "bugsplatpage" %>
    <%= javascript_include_tag "ninjapage" %>
    <%= javascript_include_tag "navigation" %>
  </head>
  <body>
    <div id="body-border">
      <div id="left-border">
        <%= image_tag("pageborderleft.png", :id => "left-border") %>
      </div>
      <div id="right-border">
          <%= image_tag("pageborderright.png", :id => "right-border") %>
      </div>
      <div class="container">
        <div id="body-interior" class="span-24">
          <%= render "layouts/header", :locals => { :page_header => @page_header } %>
          <div id= "main-content">
            <%= yield %>
          </div>
          <div style="clear:both;"></div>
          <%= render "layouts/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
