<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
me Help Sign in
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>
    <%= render "layouts/stylesheets" %>
    <%= javascript_include_tag "jquery-1.6.2.min" %>
    <%= javascript_include_tag "jquery-ui-1.8.14.custom.min" %>
    <%= javascript_include_tag "jrails" %>
    <%= javascript_include_tag "prettyPhoto/js/jquery.prettyPhoto" %>
    <%= javascript_include_tag "home" %>
    <%= javascript_include_tag "urchinspage" %>
    <%= javascript_include_tag "bugsplatpage" %>
    <%= javascript_include_tag "ninjapage" %>
    <%= javascript_include_tag "navigation" %>
    <%= javascript_include_tag "presentation" %>
    <%= javascript_include_tag "expandHandler" %>
    <%= javascript_include_tag "processingpage" %>
    <%= javascript_include_tag 'swfobject' %>

    <script type="text/javascript">
    swfobject.registerObject("vendingFlashVideo", "9.0.115", "expressInstall.swf");
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23252090-2']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
  </head>
  <body>
    <div id="body-border">
      <div id="left-border">
        <%= image_tag("pageborderleft.png", :id => "left-border") %>
      </div>
      <div id="right-border">
          <%= image_tag("pageborderright.png", :id => "right-border") %>
      </div>
      <div class="container">
        <div id="body-interior" class="span-24">
          <%= render "layouts/header", :locals => { :page_header => @page_header } %>
          <div id= "main-content">
            <%= yield %>
          </div>
          <div style="clear:both;"></div>
          <%= render "layouts/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
