<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
me Help Sign in
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery-ui' %>
    <%= javascript_include_tag 'jrails' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div id='body-border'>
      <div id='left-border'></div>
      <div id='right-border'></div>
      <div class='container'>
        <div id='body-interior'>
          <%= render 'layouts/header', :locals => { :page_header => @page_header } %>
          <div id= 'main-content'>
            <%= yield %>
          </div>
          <div style="clear:both;"></div>
          <div id='white-space'></div>
        </div>
      </div>
    </div>
  </body>
</html>
